[Desktop Entry]
Name=CIViewer
Comment=Comic Image Viewer
Exec=civiewer %u
Icon=civiewer
Terminal=false
Type=Application
Categories=Graphics;Viewer;
Keywords=comic;image;viewer;manga;
MimeType=application/zip;application/x-cbz;
StartupNotify=true
